{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ["packages/**/docs/rules/*.md"],
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
