.full-width {
  width: 100%;
}

.mat-card {
  max-width: 450px;
  margin: auto;
}

.small-font {
  font-size: 10px;
}

.login-card {
  position: relative;
  justify-content: center;
}

.card-header {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -10px;
}
