<mat-card class="login-card">
  <mat-toolbar class="card-header">
    <mat-card-title class="!mb-0 text-kdc-accent-300"
      >Вход в системата</mat-card-title
    >
  </mat-toolbar>
  <mat-card-header>
    <mat-card-subtitle class="text-kdc-primary-700"
      >Само оторизирани потребители!</mat-card-subtitle
    >
  </mat-card-header>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <mat-card-content>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Имейл адрес</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
          Полето Имейл e <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
          Полето Имейл e <strong>грешно</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Парола</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Полето "Парола" е <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('pattern')">
          Полето "Парола" e с <strong>грешен</strong> формат!
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex justify-evenly px-8 pb-4">
        <button
          [disabled]="loading$ | async"
          mat-button
          type="button"
          class="bg-kdc-accent-300 text-kdc-primary-900"
          (click)="resetPassword()"
        >
          Забравена парола
        </button>
        <button
          [disabled]="loading$ | async"
          mat-raised-button
          color="primary"
          cdkFocusInitial
          type="submit"
        >
          Вход
        </button>
      </div>
      <div class="text-xs flex justify-center">
        <span i18n="@@register link" class="my-auto">Нямаш акаунт?</span>
        <a routerLink="/register" mat-flat-button>Регистрирай се</a>
      </div>
    </mat-card-actions>
  </form>
  <mat-card-footer>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="loading$ | async"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
