// colors config
$kdc-primary-palette: (
  50: #e6e8ef,
  100: #c1c4d9,
  200: #999ebf,
  300: #737aa5,
  400: #585e93,
  500: #3e4483,
  600: #383d7a,
  700: #30346f,
  800: #292b63,
  900: #1d1b4c,
  contrast: (
    700: #dcffef,
    800: #a8ffd7,
    900: #54febd,
    600: #00faa3,
    500: #00f391,
    400: #00ec7e,
    300: #00da72,
    200: #00c563,
    100: #00b356,
    50: #00913f,
  ),
);

$kdc-secondary-palette: (
  50: #dcffef,
  100: #a8ffd7,
  200: #54febd,
  300: #00faa3,
  400: #00f391,
  500: #00ec7e,
  600: #00da72,
  700: #00c563,
  800: #00b356,
  900: #00913f,
  contrast: (
    900: #e6e8ef,
    800: #c1c4d9,
    50: #999ebf,
    600: #737aa5,
    500: #585e93,
    400: #3e4483,
    300: #383d7a,
    200: #30346f,
    100: #292b63,
    700: #1d1b4c,
  ),
);
